@charset utf-8;
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Nanum Gothic", sans-serif;
}
body{
    background-color: black;
    width: 820px;
    height: 1360px;
    border: solid red 1px;
}
header{
    width: 820px;
    height: 140px;
    margin: 0 auto;
}
header #loaded1, #loaded2, #loaded3{
    font-size: 15px;
    float: left;
    margin-top: 120px;
}
header #loaded1{
    margin-left: 280px;
}
#main{
    width: 820px;
    height: 825px;
}
#allTime{
    position: relative;
    font-size: 30px;
    left: 10px;
    top: 10px;
    float: left
}
#nowWeather{
    font-weight: 600;
}
#weather1{
    position: absolute;
    left: 420px;
    top: 10px;
    font-size: 25px;
}
header #weather1 #weatherSta{
    margin-left: 20px;
}
header #weather1 #degreeSta{
    margin-left: 20px;
}
#weather2{
    position: absolute;;
    left: 550px;
    top: 10px;
    font-size: 25px;
}
#nextWeather{
    font-weight: 600;
}
#weather2 #weatherNex{
    margin-left: 20px;
}
#weather2 #degreeNex{
    margin-left: 20px;
}
#videoPlayer{
    margin-top: 20px;
    width: 820px;
}
.imgRotate{
    width: 700px;
    margin-top: 20px;
    height: 320px;
}
.imgRotate img{
    position: absolute;
    width: 700px;
    transition: all 2s;
}
.footerRotate>#cumchuk{
    text-align: center;
    position: absolute;
    font-size: 30px;
    top: 1050px;
    left: 20px;
}
footer{
    width: 820px;
    height: 400px;
    margin: 0 auto;
}
.footerRotate #cumchuk ul li{
    list-style-type: none;
    list-style: none;
    float: left;
    float: left;
}
.footerRotate #cumchuk #breakfast{
    font-size: 20px;    
}
.footerRotate #cumchuk #lunch{
    font-size: 20px;
}
.footerRotate #cumchuk #dinner{
    font-size: 20px;
}
.footerRotate #cumchuk ul li:nth-child(1){
    position: relative;
    left: 50px;
}
.footerRotate #cumchuk ul li:nth-child(2){
    position: relative;
    left: 200px;
}
.footerRotate #cumchuk ul li:nth-child(3){
    position: relative;
    left: 330px;
}
#dDayPlan{
    position: relative;
}
.title{
    position: relative;
    font-size: 30px;
    left: 20px;
    font-weight: 700;
    float: left;
}
#dDay1{
    position: relative;
    float: left;
    font-size: 30px;
    margin-left: 70px;
    width: 155px;
}
#dDay2{
    position: relative;
    font-size: 30px;
    float: left;
    width: 195px;
    margin-left: 50px;
}
#dDay1 #doomsDay1{
    position: relative;
    font-size: 30px;
    top: 0px;
    float: right;
    
}
#dDay2 #doomsDay2{
    position: relative;
    font-size: 30px;
    top: 0px;
    float: right;
}
.footerRotate #event{
    position: relative;
    top: 100px;
}
.footerRotate #commonPlan{
    position: relative;
    left: 445px;
    top: 20px;
    font-size: 26px;
    width: 100px;
}
.footerRotate #event1{    //이벤트1
    position: relative;
    font-size: 18px;
    margin-left:460px;
    margin-top: 30px;
}
.footerRotate #event1 #date1{
    position: relative;
    
}
.footerRotate #event1 #script1{
    position: relative;
    top: -23px;
    left: 120px;
    width: 120px;
}
.footerRotate #event2{    //이벤트2
    position: absolute;
    font-size: 18px;
    margin-left:460px;
}
.footerRotate #event2 #date2{
    position: relative;
    width: 120px;
    
}
.footerRotate #event2 #script2{
    position: relative;
    top: -23px;
    left: 120px;
    width: 120px;
}
.footerRotate #event3{    //이벤트3
    position: absolute;
    font-size: 18px;
    margin-left:460px;
    width: 120px;
}
.footerRotate #event3 #date3{
    position: relative;
    
}
.footerRotate #event3 #script3{
    position: relative;
    top: -23px;
    left: 120px;
}
.footerRotate #university{
    position: relative;
    left: -200px;
    top: 80px;
}
.footerRotate #univPlan{
    position: relative;
    left: 210px;
    top: -145px;
    font-size: 26px;
}
.footerRotate #univ1{    //대학1
    position: absolute;
    font-size: 18px;
    margin-top: -133px;
    margin-left:223px;
}
.footerRotate #univ1 #date{
    position: relative;
    
}
.footerRotate #univ1 #script{
    position: relative;
    top: -23px;
    left: 120px;
    width: 120px;
}
.footerRotate #univ2{    //대학2
    position: absolute;
    font-size: 18px;
    margin-left:223px;
}
.footerRotate #univ2 #date{
    position: relative;
    width: 120px;
    
}
.footerRotate #univ2 #script{
    position: relative;
    top: -23px;
    left: 120px;
    width: 120px;
}
.footerRotate #univ3{    //대학3
    position: absolute;
    font-size: 18px;
    margin-left:223px;
    width: 120px;
}
.footerRotate #univ3 #date{
    position: relative;
    
}
.footerRotate #univ3 #script{
    position: relative;
    top: -23px;
    left: 120px;
}
#cal{
    margin-top: -320px;
    height: 360px;
    width: 815px;
}
footer .powered{
    position: absolute;
    top: 1330px;
}